<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('考卷')" />
</head>
<body class="white-bg">
	<div class="ibox-title ibox-title-gray dashboard-header gray-bg">
      <div class="row">
      <div class="col-sm-3">
       	<div class="form-group">
               <h4>第28场次考试</h4>
           </div>
       </div>
       <div class="col-sm-3">
       	<div class="form-group">
               <h4>部门：</h4>
           </div>
       </div>
       <div class="col-sm-3">
       	<div class="form-group">
               <h4>人员：</h4>
           </div>
       </div>
       </div>
    </div>
	<form id="form-examlist" th:object="${examList}">
      <div class="ibox-content">
 		<ul class="list-group list-group-striped">
            <li class="list-group-item">
                <b class="font-noraml">题目1：</b>
                <p class="pull">[[*{title}]]</p>
                <p><img name="avatar" style="height:140px;width:600px;" onclick="onClickImg()" class="img-circle img-lg" th:src="(${examList.avatar} == '') ? @{/img/profile.jpg} : @{${examList.avatar}}"></p>
            	<p class="font-noraml">答案解析：</p>
            	<p class="pull">无</p>
            </li>
            <li class="list-group-item">
                <b  class="font-noraml">题目2：</b>
                <p class="pull">[[*{title}]]</p>
                 <p><img name="avatar" style="height:140px;width:600px;" class="img-circle img-lg" th:src="(${examList.avatar} == '') ? @{/img/profile.jpg} : @{${examList.avatar}}"></p>
                
            </li>
             <li class="list-group-item">
                <b  class="font-noraml">题目3：</b>
                <p class="pull">[[*{title}]]</p>
                 <p><img name="avatar" style="height:140px;width:600px;" class="img-circle img-lg" th:src="(${examList.avatar} == '') ? @{/img/profile.jpg} : @{${examList.avatar}}"></p>
            </li>
             <li class="list-group-item">
                <b  class="font-noraml">题目4：</b>
                <p class="pull">[[*{title}]]</p>
                 <p><img name="avatar" style="height:140px;width:600px;" class="img-circle img-lg" th:src="(${examList.avatar} == '') ? @{/img/profile.jpg} : @{${examList.avatar}}"></p>
            </li>
             <li class="list-group-item">
                <b  class="font-noraml">题目5：</b>
                <p class="pull">[[*{title}]]</p>
                 <p><img name="avatar" style="height:140px;width:600px;" class="img-circle img-lg" th:src="(${examList.avatar} == '') ? @{/img/profile.jpg} : @{${examList.avatar}}"></p>
            </li>
       </ul>
      </div>
    </form>
    <div class="row">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>返回 </button>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script>
    var prefix = ctx + "exam/examlist";
    $("#form-examlist-edit").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-examlist-edit').serialize());
        }
    };
    function avatar() {
    	var examId = [[*{examId}]];
        var url = ctx + 'exam/examlist/avatar/' + examId;
        $.modal.open("修改头像", url);
    };
    function submitHandler() {
        if ($.validate.form()) {
        	var data = $("#form-examlist-edit").serializeArray();
        	$.operate.saveTab(prefix + "/edit", data);
        }
    };
    
    function onClickImg(){
    	var value = [[*{avatar}]];
	    return $.table.imageView(value);
    };
	</script>
</body>
</html>